go 1.27rc2

use (
	.
	./integration_tests/fixtures/agent_features
	./integration_tests/fixtures/assistant
)

replace github.com/modelcontextprotocol/go-sdk => github.com/modelcontextprotocol/go-sdk v1.7.0
