go 1.27.0

use (
	.
	./integration_tests/fixtures/agent_features
	./integration_tests/fixtures/assistant
)

replace github.com/modelcontextprotocol/go-sdk => github.com/modelcontextprotocol/go-sdk v1.8.0-pre.2
